[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
streamlit = "*"
scipy = "*"
matplotlib = "*"
statsmodels = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
